---
layout: portfolio
title: Portfolio
---

{% include /portfolio-category.html title="Personal Projects" %}
{% include /portfolio-section.html 
    description="/portfolio/project-a-description.md"
    image="/portfolio/project-a-image.png"
    url="/portfolio/project-a.html"
%}
{% include /portfolio-section.html 
    description="/portfolio/project-a-description.md"
    image="/portfolio/project-a-image.png"
    url="/portfolio/project-a.html"
%}

{% include /portfolio-category.html title="Personal Projects" %}
{% include /portfolio-section.html 
    description="/portfolio/project-a-description.md"
    image="/portfolio/project-a-image.png"
    url="/portfolio/project-a.html"
%}